body {
  margin: 0;
  height: 100vh;
  display: flex;
  background-color: #000;
}
h2 {
  margin: 0;
}
.question-game {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.question {
  color: #fff;
  text-align: center;
  font-family: Lobster;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
}
.game {
  color: #fff;
  text-align: center;
  font-family: Helvetica;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px; /* 93.75% */
}
.btn-menu-start {
  margin-top: 20px;
}

.botones-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.juego-preguntas-menu {
  background-image: url("fondo.svg");
  width: 100%;
  min-width: 375px;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.pregunta-div {
  position: relative;
  display: flex;
  justify-content: center;
  width: max-content;
  max-width: 320px;
}
.pregunta-div svg {
  position: absolute;
  bottom: -30px;
  left: 30px;
}
.opciones {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
  align-items: center;
}
.juego-preguntas-menu h2 {
  color: #fff;
  text-align: center;
  font-family: Helvetica Rounded;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px; /* 93.75% */
}

.margin-auto {
  margin: auto;
}
.preguntas-menu {
  background-image: url("fondo.svg");
  width: 100%;
  min-width: 375px;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.preguntas-menu-1 {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.opcion {
  width: 100%;
  height: 50px;
  max-width: 500px;
  min-width: 250px;
  padding: 0;
  border-radius: 15%;
  border: none;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 15px;
}
.opcion p {
  font-size: 20px;
  color: blue;
  font-weight: bolder;
  margin: 10px;
  width: 100%;
  text-align: start;
}
.btn-juego-continue,
.btn-preguntas-backhome {
  margin: 40px 0;
}
.fa-solid:first-child {
  box-sizing: border-box;
  text-align: center;
  height: 100%;
  width: 25px;
  margin: 0;
  padding: 10px 25px;
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-solid.fa-a {
  background-color: blue;
}
.fa-solid.fa-a {
}
.fa-solid.fa-b {
  background-color: blue;
}
.fa-solid.fa-c {
  background-color: blue;
}

.marcador {
  border: solid 7px #f8851b;
  border-radius: 50%;
  color: #0b38d8;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  background-color: white;
  width: 70px;
  height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -40px;
}
.pregunta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #0b38d8;
  font-family: Helvetica;
  font-weight: bold;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  min-width: 183px;
  width: 100%;
  height: max-content;
  border-radius: 22%;
  padding: 10px;
  margin: 0;
}
.naranja {
  position: relative;
  top: 0;
  width: 100%;
  min-width: 300px;
  height: 18%;
  background: #f8851b;
  display: flex;
  align-items: end;
  justify-content: center;
}

.hidden {
  display: none;
}
.fa-check,
.fa-xmark {
  border: 3.5px solid;
  align-items: center;
  border-radius: 50%;
  right: 20px;
  top: 5px;
  width: 40px;
  height: 25px;
  padding: 3px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.fa-check {
  color: #18ac2f !important;
}

.fa-xmark {
  color: #db2e16 !important;
}
@media screen and (min-width: 660px) and (min-height: 790px) {
  .marcador {
    font-size: 60px;
    width: 80px;
  }
  .pregunta-div svg {
    left: 70px;
  }
  .pregunta-div {
    width: 500px;
    max-width: none;
  }
  .pregunta {
    width: max-content;
    font-size: 30px;
  }
  .opcion {
    height: 80px;
    width: 500px;
    margin: 30px;
  }
  .opcion p {
    font-size: 40px;
  }
}
